
<div class="conterner">
  <header>
    <b><font size=+3>My guitar Shop</font></b>
  </header>
  <div class="main">
    <div class="left">
      <ul>
        <li><font size=+2 color="red">Links</font></li>
        <li>
          <font><a href="#"routerLink="/viewcart"><b>View Cart</b></a></font>
        </li>
        <li>
          <font><a href="#"><b>Login/Register</b></a></font>
        </li>
        <li>
          <font><a href="#" routerLink="/home"><b>Home</b></a></font>
        </li>
      </ul>
      <ul>
        <li>
          <font size=+2 color="red">Categories</font>
        </li>
        <li>
          <font><a href="#"><b>Guitars</b></a></font>
        </li>
        <li>
          <font><a href="#"><b>Basses</b></a></font>
        </li>
        <li>
          <font><a href="#"><b>Drums</b></a></font>
        </li>
      
      </ul>
      <ul>
        <li>
          <font size=+2 color="red">Temp Link</font>
        </li>
        <li>
          <font><a href="#"><b>Admin</b></a></font>
        </li>
      </ul>
    </div>
    <div class="right">
    <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <div class="col-2">
      &copy;2010 My guitar Shop, Inc
    </div>
  </div>
</div>