.col3{
    width: 30%;
}
.col2{
    width: 20%;
}
.col1{
    width: 20%;
}
.tableStyle {
    border-bottom: 2px solid black;
    width: 100%;
}
.left{
    float: left;
    width: 100%;
}
a{
    text-decoration: none;
}
